@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
  }
  
  
  :root {
    --primary-link: #333;
    --primary-link-hover-background: #00000080;
    --secondary-highlighter: #f7f7f7;
  }

  svg.mx-auto.block.h-12.w-12.align-middle.text-gray-400{
    height:200px;
}

*::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */
}

*::-webkit-scrollbar-track {
  background: transparent; /* Color of the scrollbar track */
}

*::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar thumb */
}
